<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8" />
		<title>bootstrap案例</title>
		<script  th:src="@{/js/jquery-3.4.1.min.js}"></script>
		
		<!--用百度的静态资源库的cdn安装bootstrap环境-->
		<!-- Bootstrap 核心 CSS 文件 -->
		<link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
		<!--font-awesome 核心我CSS 文件-->
		<link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- 在bootstrap.min.js 之前引入 -->
		<script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
		<!-- Bootstrap 核心 JavaScript 文件 -->
		<script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<!--jquery.validate-->
		
		<script  th:src="@{/js/jquery.validate.min.js}"></script>
		<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
		<link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
		<script th:src="@{/layui/layui.js}"></script>
		<script  th:src="@{/js/login.js}"></script>
		<style type="text/css">
			body{background: url(/img/bg.jpeg) no-repeat;background-size:100%;font-size: 16px;}
			.form{background: rgba(255,255,255,0.2);width:400px;margin:100px auto;}
			#login_form{display: block;}
			#register_form{display: none;}
			.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
			input[type="text"],input[type="password"]{padding-left:26px;}
			.checkbox{padding-left:21px;}
			#password-error,#uname-error{
				text-align:center;color:red;
				font-size:12px;font-weight:800;
			}
			#sendCheckCode{
			line-height:20px;
			}
			
		</style>
	</head>
	<body>
		<!--
			基础知识：
			网格系统:通过行和列布局
			行必须放在container内
			手机用col-xs-*
			平板用col-sm-*
			笔记本或普通台式电脑用col-md-*
			大型设备台式电脑用col-lg-*
			为了兼容多个设备，可以用多个col-*-*来控制；
		-->
	<div class="container">
		<div class="form row">
			<form class="form-horizontal col-sm-offset-3 col-md-offset-3" id="login_form" >
				<h3 class="form-title">Login to your account</h3>
				<div class="col-sm-9 col-md-9">
					<div class="form-group">
						<i class="fa fa-user fa-lg"></i>
						<input class="form-control required" type="text" placeholder="Username" id="uname" name="username" autofocus="autofocus" maxlength="20"/>
						<i id="uname-error"></i>
					</div>
					
					<div class="form-group">
							<i class="fa fa-lock fa-lg"></i>
							<input class="form-control required" type="password" placeholder="Password" id="upsw"  name="password" maxlength="8"/>
							<i id="password-error"></i>
					</div>
					<div class="form-group">
						<label class="checkbox">
							<input type="checkbox" name="remember" value="1"/> Remember me
						</label>
						<hr />
					 	<a href="javascript:;" id="register_btn" class="">Create an account</a> 
					</div>
					<div class="form-group">
						<input type="button" class="btn btn-success pull-right" value="Login " id="btn"/>   
					</div>
				</div>
			</form>
		</div>
 
		<div class="form row">
			<form class="form-horizontal col-sm-offset-3 col-md-offset-3" id="register_form">
				<h3 class="form-title">Login to your account</h3>
				<div class="col-sm-9 col-md-9">
					<div class="form-group">
						<i class="fa fa-user fa-lg"></i>
						<input class="form-control required" type="text" placeholder="Username" name="username" autofocus="autofocus" id="username"/>
					</div>
					<div class="form-group">
							<i class="fa fa-lock fa-lg"></i>
							<input class="form-control required" type="password" placeholder="Password" id="register_password" name="password"/>
					</div>
					<div class="form-group">
							<i class="fa fa-check fa-lg"></i>
							<input class="form-control required" type="password" placeholder="Re-type Your Password" name="rpassword" id="verify-password"/>
					</div>
					<div class="form-group">
							<i class="fa fa-envelope fa-lg"></i>&nbsp;&nbsp;&nbsp;
							<input class="form-control eamil" type="text" placeholder="Email" name="email" id="email"/>
					</div>
					<div class="form-group" >
						 
	                    <div class="input-group" style="margin-top:15px;">
	                   		<span class="input-group-addon"style="color:grey">输入验证码:</span>
	                        <input id="checkCode" type="text" name="checkCode" class="form-control required"placeholder="验证码" lay-verify="required"/>
	                        
	                    </div>
	                    <div class="input-group" style="width:400px;margin-top:15px;margin-left:58%;">
	                    	<button id="sendCheckCode" type="button" class="btn btn-primary" data-loading-text="获取验证码" >获取验证码</button>	                
	                    </div>
	                  
	                   
					</div>
					
					<div class="form-group">
						<input type="button" class="btn btn-success pull-right" value="Sign Up " id="register"/>
						<input type="button" class="btn btn-info pull-left" id="back_btn" value="Back"/>
					</div>
				</div>
			</form>
		</div>
		</div>
	
	</body>


</html>