<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/layer/layer.js}"></script>
<link  th:href="@{/css/bootstrap-table.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bootstrap-table.js}"></script>
<script th:src="@{/js/bootstrap-table-zh-CN.js}"></script>
<script th:src="@{/js/server/update.js}"></script>

<style type="text/css">
#line{
	
		margin-top:40px;
		line-height:20px;
	}
</style>
</head>
<body>



 <div class="container" align="center">
	<div class="row clearfix" id="line" >
		<div class="col-md-5 column">
			
				<div class="form-group" style="margin-top:30px;">
					 <label for="inputEmail3" class="col-sm-4 control-label">服务方式:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="sname" placeholder="请设置服务方式"/>
					</div>
					<br>
				</div>
			
				<input type="hidden" name="sid" th:value="${sid}" id="sid"/>
				<div class="form-group"style="margin-top:30px;">
					<div class="col-sm-offset-2 col-sm-8">
						 <button type="button" class="btn btn-default" id="btn">确定提交</button>
					</div>
				</div>
			
		</div>
		<div class="col-md-5 column">
		</div>
	</div>
</div>
</body>
</html>